main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}
h1 {
    color: #244861;
    font-size: 65px;
    margin-bottom: 0px;
}
.subtext {
    color: #5a5a5a;
    font-size: 25px;
    margin-bottom: 50px;
    font-weight: 700;
}
.offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.offer-card {
    background: #cfdbe7c9;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}
.offer-card img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}
.discount-badge {
    position: absolute;
    top: -40px;  /* Ajusta la distancia desde arriba */
    right: -150px; /* Ajusta la distancia desde la derecha */
    width: 70px;  /* Ajusta el tamaño según necesidad */
    height: 70px; /* Mantiene la proporción */
    object-fit: contain; /* Asegura que la imagen no se deforme */
}
.offer-card:hover{
    .discount-badge {
        transform: rotate(10deg); /* Gira 10 grados */
        transition: transform 0.3s ease-in-out;
    }
    
}


@media (max-width: 768px) {
    .offers {
        flex-direction: column;
        align-items: center;
    }
}